.mat-grid-tile {
  background: lightblue;
}

/* .grid-item {
  background: red;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  background-color: #2196F3;
}

.image-column {
  grid-column: 1 / span 3;
} */
.mat-mdc-form-field {
  width: 350px;
}

.input-container {
  display: flex;
  gap: 10px;
  align-items: center;
  line-height: 21px !important;
}

::ng-deep .mat-mdc-text-field-wrapper {
  background-color: #efefef !important;
  height: 56px !important;
  border-radius: 12px !important;
}
::ng-deep
  .mdc-text-field--filled.mdc-text-field--no-label
  .mdc-text-field__input {
  color: #989898 !important;
}
::ng-deep .mdc-line-ripple::before,
::ng-deep .mdc-line-ripple::after,
::ng-deep .mat-mdc-form-field-focus-overlay {
  display: none;
}

::ng-deep div.mat-mdc-autocomplete-panel {
  border-radius: 12px !important;
  background-color: #fff !important;
}

::ng-deep .mdc-list-item__primary-text {
  width: 100% !important;
}
::ng-deep .mat-mdc-option.mdc-list-item {
  margin-bottom: 10px !important;
}
::ng-deep .mat-mdc-option.mdc-list-item:last-child {
  margin-bottom: 0px !important;
}
.user-full-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  gap: 10px;
}

.user-details-container {
  display: flex;
  width: 100%;
  gap: 10px;
  align-items: center;
}

.user-details-container img {
  height: 56px;
  width: 56px;
  border-radius: 50%;
  border: 1px solid #e6e7e8;
  padding: 1px;
  box-sizing: border-box;
}

.user-details-container .user-name {
  color: #53535b;
  margin-bottom: 8px;
  font-size: 14px;
}

.user-details-container .name {
  color: #9e9fa1;
  margin-bottom: 0;
  font-size: 16px;
}

.user-full-container .user-followers {
  margin-bottom: 0;
  color: #88898b;
  font-size: 18px;
}

.example-form {
  display: flex;
  justify-content: center;
}

.search-image {
  height: 15px;
  width: 15px;
}

.cdk-overlay-pane {
  background-color: white;
  border-radius: 16px !important;
}

.mdc-text-field {
  background-color: red !important;
}

.main-container {
  margin: 0 auto;
  padding: 10px;
  max-width: 1000px;
}

.grid-container {
  width: calc(100% + 30px);
  margin: -15px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.content-column {
  flex-grow: 0;
  max-width: 33.333333%;
  flex-basis: 33.333333%;
  padding: 15px;
  margin: 0;
  box-sizing: border-box;
  max-height: 350px;
}

.image-text-container {
  position: relative;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.image-text-container:hover .text-container {
  opacity: 1;
}

.main-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.text-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  gap: 10px;
  opacity: 0;
  padding: 10px;
}

.like-text {
  color: white;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0;
  display: flex;
  gap: 8px;
  align-items: center;
}

.heart-image {
  height: 16px;
  width: 16px;
}

.comment-image {
  height: 16px;
  width: 16px;
}

.loader,
.loader:before,
.loader:after {
  background: #ffffff;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #ffffff;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: "";
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

.profile-image-details-container {
  width: 100%;
  overflow: hidden;
  display: flex;
  gap: 20px;
}

.profile-image-container {
  min-width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-image-container .user-image {
  height: 175px;
  width: 175px;
  border-radius: 50%;
}

.profile-follow-following-post {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 40px;
  margin-bottom: 15px;
}
.profile-follow-following-post span {
  font-weight: bold;
  font-size: 16px;
}
.profile-post,
.profile-followers,
.profile-following {
  margin-bottom: 0;
  color: #414141;
  font-size: 15px;
}

.profile-username {
  color: #2f2f2f;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 17px;
  display: flex;
  gap: 5px;
  align-items: center;
}
.profile-user-name {
  color: #161616;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0px;
}

.profile-description {
  color: #393939;
  font-weight: 400;
  margin-bottom: 8px;
  margin-bottom: 2px;
}

.profile-link {
  color: #0a3162;
  font-size: 12px;
  margin-bottom: 0;
  font-weight: 500;
}

.blue-tick-image {
  height: 15px;
  width: 15px;
}
